
anchorPane{
    -fx-background-color: #FFFFFF;
}

MFXButton {
    -fx-background-color: lightblue;
}

.whiteButton {
    -fx-background-color: white !important;
}

.table-view .column-header {
    -fx-background-color: lightblue;
}

MFXDatePicker .column-header{
    -fx-background-color: lightblue;
}

datepicker {
    -fx-background-color: lightblue;
}
